    {% include head.html %}
        {% include header.html %}
            {{ content }}
            <br /><br />
            <h3>Ayuda SAP gratis</h3>
            <p>Recuerda que si necesitas ayuda sobre SAP, ya sea sobre el artículo que estás leyendo ahora, o bien cualquier otro artículo que hayas leído en Internet, nuestra comunidad es gratis y la puedes consultar cuando gustes.<br />
            Ingresa ahora a <b><a href="http://foros.consultoria-sap.com" title="Ayuda SAP">foros.consultoria-sap.com</a></b>
            </p>
    {% include footer.html %}
